.main-app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .content-wrapper {
    max-width: 1000px;
    // background-color: cadetblue;
    width: 100%;
    margin: auto;
    flex: 1;
  }
}
