.label {
  font-size: 16px;
  color: black;
  margin: 0px;
  margin-bottom: 5px;
}

.input {
  border-radius: 10px;
  outline: none;
  width: 100%;
  border: 1 solid greenyellow !important;
  padding: 12px;
  box-sizing: border-box;
}
